@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

:root {
  --main-white: #fefefe;
  --main-blue: #415164;
  --main-orange: #eddc6b;
  --main-bluelight: #9ed0c9;
  --main-grey: #031424;
}

* {
  margin: 0;
}

.my-nav {
  width: 100%;
  background-color: var(--main-bluelight);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Comfortaa", cursive;
}

.intro {
  margin: 70px;
  font-family: monospace;
  text-align: center;
  font-size: 20px;

  padding: 60px;
  color: white;
  border-radius: 5px;
}

.intro-page {
  background-image: url("https://res.cloudinary.com/martacloud/image/upload/v1615807906/background_jgnt0r.png");
  margin: 0;
  width: 100%;
  height: 60%;
}

.my-navlink {
  margin: 10px;
  color: white;
}

.my-navlink:hover {
  text-decoration: none;
  color: var(--main-blue);
  font-weight: bold;
}

.nav-logo {
  width: 40px;
  height: auto;
}

.title {
  margin-top: 30px;
}

.section {
  margin-top: 50px;
  line-height: 2rem;
}

.img-card {
  width: 170px;
  margin: 30px;
}

.hobbies-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.my-card {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tag {
  background-color: var(--main-bluelight);
}

.my-footer{
  background-image: url("https://res.cloudinary.com/martacloud/image/upload/v1615807906/background_jgnt0r.png");
  width: 100%;
  text-align: center;
  padding: 10px;
  color: white;
  margin-top: 40px;
}

